@charset "utf-8";

html {
    font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja_font: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "MS Pゴシック", sans-serif;
$brown: #887f69;
$beige: #e2ddd4;
$gray: #b0b0b0;
$red: #9d1a2d;
$background: #f9f8f6;

body {
    background: $background;
}
// body

header {
    #header_in {
        padding-top: 20px;
        padding-bottom: 10px;
        
        .row {
            position: relative;
            .pc_navi {
                position: absolute;
                bottom: 0;
                right: 0;

                img {
                    padding: 0 5px;
                }
                // img
            }
            // .pc_navi
        
            .sp {
                display: none;
            }
            // .sp
        
            .sp_navi {
                @extend .sp;
            }
            // .sp_navi
        }
        // .row
    }
    // #header_in
    
    @media (max-width: 320px) {
        #header_in {
            
            .row {
                .pc {
                    display: none;
                }
                // .pc
        
                .pc_navi {
                    display: none;
                }
                // .pc_navi
        
                .sp {
                    display: block;
                    margin: 0 auto;
                }
                // .sp
        
                .sp_navi {
                    display: block;
                    text-align: center;
                    padding-top: 10px;
                
                    img {
                        padding: 0 5px;
                    }
                    // img
                }
                // .sp_navi
            }
            // .row
        }
        // #header_in
    }
    // @media (max-width: 320px)
}
// header

.container {
    // padding-top: 20px;
    
    .row {
        #main {
            .owl-theme {
                .owl-dots {
                    margin-top: 0;
                    text-align: left;
                    
                    .owl-dot {
                        span {
                            width: 25px;
                            height: 2px;
                            border-radius: 0;
                            margin: 0px 10px 5px 0px;
                        }
                        // span
                    }
                    // .owl-dot
                    
                    .active {
                        span {
                            background: $red;
                        }
                        // span
                    }
                    // .active
                }
                // .owl-dots
            }
            // .owl-theme
        }
        // #main
    }
    // .row
    
    @media (min-width: 321px) {
        .row {
            padding-top: 20px;
        }
    }
    // @media (min-width: 321px)
}